@use 'mixins';

.alerta {
    border: 2px solid black;
    border-radius: 6px;
    margin: 16px 0;
    padding: 8px;
    color: black;
    font-weight: bold;
    display: inline-block;

    &--error {
        background-color: red;
        border-color: pink;
        color: white;
        @include mixins.get-icon("\f057");
    }

    &--exito {
        background-color: green;
        border-color: rgb(0, 247, 0);
        color: white;
        @include mixins.get-icon("\f058");
    }

    &--xs {
        font-size: 10px;
    }

    &--xl {
        font-size: 24px;
    }

    &--block {
        display: block;
    }
}